
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: right;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}
main {
    padding: 20px;
}

.banner {
    background-color: #f0f8ff;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    direction: rtl;
}
.banner h2 {
    color: #2a4d69;
}
.banner p, .banner ul {
    color: #333;
    font-size: 16px;
}
.banner ul {
    list-style-type: none;
    padding: 0;
}
.banner ul li {
    margin: 5px 0;
}
